body{
	font-family: Futura;
	background: #ffffff;
	background-image: url('../images/White Background-01.jpg');
	background-repeat: repeat;

}
h1{
	text-shadow: 2px 2px 5px gray;
	margin: 1rem;
}
p{
	font-family: Georgia, serif;
}
/*li {
	list-style-type: none;
}
*/
#list-shift{
	height:100px;
}
.counters{
	position:absolute;
	bottom: 0;
	text-align: center;
	border-top: solid black 2px;
}
.inp{
	width:95%;
	min-width: 120px;
	max-width: 240px;
}
.box {
	min-height: 300px;
	border: 5px inset gray;
	border-radius: 15px;
	box-shadow: 15px 15px;
}
.box-title{
	font-family: sans-serif;
	letter-spacing: 2px;
	white-space:nowrap;
	margin-right: 0px;
  	margin-left: 0px;
	text-align: center;
}
.add-button{
	margin-top:0.5rem; 
	background-color:white;
	font-family: sans-serif;
	font-weight: bolder;
	border-color: black;
}
.add-button:hover {
	background-color:#b3b3ff;
	text-shadow: 2px 2px 5px gray;
}

.checkbox-design{
	background-color: #ffffff;
	opacity: 50;
	height: 1.5rem;
  	width: 1.5rem;
  	font-size: 3rem;
  	border-color: black;
  	margin-left: 0.5rem;
  	float:left;
  	display:inline-block;
}

.removebox-design{
	background-color: #ffffff;
	opacity: 50;
	height: 1.5rem;
  	width: 1.5rem;
  	font-size: 3rem;
  	border-color: black;
  	margin-right: 0.5rem;
  	float:right;
  	display:inline-block;
}

.userin{
	overflow:hidden;
	/*display:inline-block;*/
	align-items: center;
	text-align: center;
	
}

.input-div{
	min-width: 260px;
	max-width:100%;
	display:inline-block;
	
}